@use "./src/app/styles/App.scss";

.navbar {
    &__container {
        width: 100%;
        display: flex;
        padding: 1.2%;
        height: 8.2%;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        width: 65%;
        list-style: none;
        padding: 0;
        margin: 0;

        &__item {
            margin-left: 1rem; 

            a {
                text-decoration: none;
                color: #333; 

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__logo {
        width: 100px; 
        height: 100px; 
    }
}

nav {
    @extend .navbar__container;
}

ul.lista-nav {
    @extend .navbar__links;
}

.links {
    @extend .navbar__links__item;
}

.navbar img {
    @extend .navbar__logo;
}