nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #3498db; /* Cor de fundo do navbar, substitua pela cor desejada */
  
    a {
      color: #fff; /* Cor do texto dos links, substitua pela cor desejada */
      margin-left: 20px; /* Espaçamento entre os links, ajuste conforme necessário */
      text-decoration: none;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline; /* Efeito de sublinhado ao passar o mouse sobre os links */
      }
    }
  
    div {
      display: flex;
      align-items: center;
  
      a {
        margin: 0; /* Remover a margem dos links dentro da div */
  
        &:last-child {
          margin-left: auto; /* Move o último link para a extremidade direita da div */
        }
      }
    }

    .links {
        margin: 2rem;
      
        a {
          margin-right: 10px; /* Adicione o espaçamento desejado entre os links */
          text-decoration: none;
          color: #000; /* Adicione a cor desejada */
        }
      }
  
      .hamburger {
        display: none; // Inicialmente, oculta o ícone do hamburger em telas grandes
    
        @media (max-width: 768px) {
          display: flex; // Mostra o ícone do hamburger em telas menores que 768px
        }
    
        cursor: pointer;
        margin-left: 10px;
        color: #fff;
      }
  }
  
  /* Estilos para a classe 'active' */
  .active {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Estilos para a classe 'deactivating' */
  .deactivating {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  